

/* menu topico de cima(padrao)*/
#menu {
     padding-left: 10%;
    font-size: 18px;
    text-decoration: none;
    background-color: #ff5100e1;
}


/*id das imgens dos produtos no index*/
#imgInicial{
    padding-left: 8%;
}

/*id dos produtos na parte de podutos*/
#p{
    width: 100%;
    padding-left:14%;
}

section {
    text-align: center;
}

form {
    width: 50%;
    margin-left: 25%;   
    
}   

.texto {
    display: inline;
    text-align: center;
}
/*icones do boodstrap*/
.bi-emoji-smile{
    
    color: green;
}
.bi-emoji-neutral{
    color:rgba(255, 166, 0, 0.644);
} 
.bi-emoji-frown{
    color:red;
}

.bi-cart4{
    color:grey;
}